html,
body {
    height: 100%;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    background: url("../img/EKDRRGKOI8.jpg") no-repeat 50%;
    background-size: cover;
    color: #fff;
    margin: 0;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    border: 2px solid #fff;
    border-radius: 15px;
    background: rgba(0, 0, 0, .5);
    padding: 50px 25px;
}

p {
    word-break: break-all;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.form-group:last-child {
    margin-bottom: 0;
}

.req {
    color: #f00;
    position: absolute;
}

.control-label {
    padding-right: 0;
}